{% extends 'layout.html' %}

{% load static %}

{% block title %}Appointments | Medical HTML Template{% endblock %}

{% block content %}
<div style="height: calc(100vh - 169px);">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Department</th>
                <th>Date</th>
                <th>Mensage</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.department }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.message }}</td>
                <td style="padding-left:auto;padding-right:auto;">                    
                    <form id="UpdateForm" action="/update" method="GET">
                    {% csrf_token %}
                    </form>
                    <a class="nav-link" href="javascript:document.getElementById('UpdateForm').submit()"><i class="fa fa-retweet" aria-hidden="true"></form></i></a>
                </td>
                <td>
                    <form id="RemoveForm" action="/remove" method="GET">
                        {% csrf_token %}
                    </form>
                    <a class="nav-link" href="javascript:document.getElementById('RemoveForm').submit()"><i class="fa fa-trash" aria-hidden="true"></i></form></i></a>
                </td>
            </tr>
            <!-- and so on... -->
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}