{% extends 'layout.html' %}

{% load static %}

{% block title %}Sign Up | Medical HTML Template{% endblock %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form p-l-55 p-r-55 p-t-178" action="." method="post">
                <span class="login100-form-title">SIGN UP</span>
                {% csrf_token %}
                <div>
                    {% for field in form %}
                        <div class="row checkout__input">
                            <div class="col-md-4" >
                                <p class="txt2" style="text-align:center; margin-top: 8px">{{ field.label_tag }}</p>
                            </div>
                            <div class="col-md-8" style="margin-bottom:16px;">
                                <p style="margin-bottom:0px;"> {{ field }}</p>
                                {% if field.help_text %}
                                    <small class="smallUl">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row form-group">
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">CRIAR CONTA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

                {% comment %} <span class="login100-form-title">SIGN UP</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="fname" placeholder="First Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="lname" placeholder="Last Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="p-t-20"></div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="pass_confirmation" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                </div> 
                <div class="p-t-30"></div> 
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Sign Up</button>
                </div>
                <div class="flex-col-c p-b-40"></div> {% endcomment %}